/* 디지털 */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "NotoSans", sans-serif;
}
@font-face {
  font-family: "NotoSans";
  font-weight: "normal";
  src: url("/src/font/NotoSansKR-Medium.otf");
  font-display: fallback;
}

.digital {
  position: relative;
  max-width: 1360px;
  width: 100%;

  padding: 3rem 0.5rem 2rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5rem;
}

.digitalTitle {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
}

.itemsContainer {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1.5rem;
}

.item {
  position: relative;
  border: 1px solid rgb(229 231 235 / 1);
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;

  display: flex;
  flex-direction: column;
}

.itemImageWrapper {
  height: 20rem;
  background-color: rgb(255, 255, 255);

  display: flex;
  align-items: center;
  justify-content: center;
}

.itemImage {
  display: block;
  max-width: 50%;
  max-height: 50%;
  height: auto;
  transition: transform 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.item:hover .itemImage {
  transform: scale(1.2);
}

.itemInfo {
  padding: 2rem;
  background-color: rgb(243 244 246 / 1);

  display: flex;
  flex-direction: column;

  gap: 0.5rem;
  flex: 1 1 auto;
}

.itemName {
  font-size: 1rem;
  font-weight: 600;
  color: rgb(31, 41, 55);
  line-height: 1.5rem;
  margin-bottom: 0.75rem;
}

.itemPrice {
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgb(31, 41, 55);
  flex-grow: 1;

  display: flex;
  align-items: flex-end;
}
