.footer {
  width: 100%;
  padding: 2.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  background-color: var(--color-footer-bg);
  border-color: var(--color-item-border);
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  font-family: 'NotoSans', sans-serif;
}

.zerobase {
  text-decoration: none;
  color: var(--color-text);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.payment {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  height: 24px;
}

.social {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  height: 24px;
}

.facebook {
  display: block;
  width: 24px;
  height: 24px;
}

.instargram {
  display: block;
  width: 24px;
  color: var(--color-text);
  height: 24px;
}

.github {
  display: block;
  width: 24px;
  height: 24px;
  stroke: var(--color-text);
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text);
}

.fillCurrent {
  fill: var(--color-text);
}
