* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "NotoSans", sans-serif;
}
@font-face {
  font-family: "NotoSans";
  font-weight: "normal";
  src: url("/src/font/NotoSansKR-Medium.otf");
  font-display: fallback;
}

.main {
  position: relative;
}
